---
layout: default
---

<div class="cv-header">
    <img src="{{ site.data.cv.infos.photo | relative_url }}" class="profile-pic">
    <div class="cv-header-text">
        <h1>{{ site.data.cv.infos.nom }}</h1>
        <p class="cv-bio">{{ site.data.cv.infos.bio }}</p>
    </div>
</div>

<!-- Bloc haut de sidebar (mobile) -->
<div class="sidebar-top mobile-only">
  {% include sidebar-top.html %}
</div>

<div class="main-container">
    <div class="content-left">
        {{ content }}
    </div>

    <aside class="sidebar-right desktop-only">
        {% include sidebar-top.html %}
        {% include sidebar-bottom.html %}
    </aside>
</div>

<!-- Bloc bas de sidebar (mobile) -->
<div class="sidebar-bottom mobile-only">
  {% include sidebar-bottom.html %}
</div>
